/*************** Media queries ***************/


/*************** Variables ***************/

:root {
  --background-color: rgb(217 217 217 / 46%);
  --container-color: rgba(255, 255, 255, 0.912);
  --button-color: rgba(255, 255, 255, 0.865);
  --primary-text-color: #5b5858;
  --primary-font: ;
  --shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
  --border: solid 1px rgb(255, 255, 255);
}

/*************** HTML tags ***************/

body {
  background-color: var(--background-color);
}

/*************** Structure ***************/

.container {
  display: grid;
  grid-template-rows: 1fr 2fr;
  align-items: center;
  height: 800px;
  width: 80%;
  margin: 35px auto;
}

.left {
  /*Alignement*/
  display: grid;

  margin: auto;

  /*Measures*/
  height: 400px;
  width: 100%;
  grid-template-columns: 1fr 1fr;

  /*Style*/
  /* -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.75); */
}

.left-top {
  margin-right: 20px;
  border: var(--border);
  box-shadow: var(--shadow);
  border-radius: 8px;
}

.left-bottom {

  border: var(--border);
  box-shadow: var(--shadow);
  border-radius: 8px;
}

.left-top,
.left-bottom {
  background-color: var(--container-color);
  overflow: hidden;
  position: relative;
}

.right {
  display: flex;
  height: inherit;
  margin-top: 35px;
}

/*************** OWMap ***************/

.item {
  /*Alignement*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  /*Measures*/
  height: 130px;
  width: 100%;

  /*Style*/
  border-radius: 8px;
  background-color: var(--button-color);
  font-family: Helvetica, Arial;
  color: var(--primary-text-color);
  text-align: center;
  /* line-height: 1.5; */
  border: var(--border);
  /* -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.75); */
  box-shadow: var(--shadow);
}

.liveValue {
  color: var(--primary-text-color);
  font-family: Helvetica, Arial;
}

.liveValue p {
  margin: 10px 0 0 0;
  bottom: 0;
}

#row-1 {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  width: 75%;
  /* odd behaviour*/
  height: fit-content;
  gap: 15px;
  /* margin: 0px auto 10px; */
  /* AHHHH THIS GUY*/
}

#feelsLike {
  grid-area: 1/1/2/2;
}

#currentHumid {
  grid-area: 1/2/2/3;
}

#windSpd {
  grid-area: 1/3/2/4;
}

#cloudiness {
  grid-area: 2 / 1 / 3 / 2;
}

#risenset {
  grid-area: 2/2/3/4;
  justify-content: space-evenly;
  width: 100%;
}

#forecast {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 25%;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-right: 20px;
  overflow: scroll;
  /* Style */
  background-color: var(--button-color);
  font-family: Helvetica, Arial;
  color: var(--primary-text-color);
  text-align: center;
  border-radius: 8px;
  /* line-height: 1.5; */
  border: var(--border);
  /* -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.75); */
  box-shadow: var(--shadow);
}

.forecast-card {
  text-align: center;
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  align-items: center;
}

.forechild {
  margin: 0 15px;
}


#currentTemp {
  font-size: 35px;
}

#citySpotlight {
  width: 50%;
  margin: 10px 10px 25px 25px;
  position: absolute;
  bottom: 0;

  display: flex;
  flex-direction: column;
}

#minMaxWrapper {
  display: flex;
}

#maxTemp,
#minTemp {
  margin-right: 10px;
}

/*************** Mapbox ***************/

.geocoder {
  z-index: 10;
  width: 100%;
}

.mapboxgl-ctrl-geocoder {
  min-width: 100% !important;
  max-width: none !important;
  /* border-radius: 0 0 0 4px !important; */
  /*dont use overflow hide in this elements, it hides the suggestions box for results*/
}

.mapboxgl-ctrl-bottom-left {
  visibility: hidden;
}

.mapboxgl-ctrl-bottom-right {
  visibility: hidden;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}